{% extends 'base.html.twig' %}

{% block title %}Picking{% endblock %}

{% block body %}

    <div class="card card-no-spacing">

        <div class="card-header card-with-button">
            <h4 class="card-title">Products for Picking:</h4>
        </div>

        <div class="card-body">
            {% for product in products %}

                {% if loop.first %}
                    Start Location: Packing Station {{ product.stockBin.closestPackLocation }}<br />
                    <hr />
                {% endif %}

                Item: {{ loop.index }}<br />
                Name: {{ product.name }}<br />
                Location: {{ product.stockBin.name }}<br />
                Pick From: Picking Location: {{ product.stockBin.pickFrom }}<br />
                <hr />
                {% if loop.last %}
                    End Location: Packing Station {{ product.stockBin.closestPackLocation }}<br />
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}
